
<section id="content" class="sectionContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Impressum</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div>
                <div class="contentHight" id="impressumContent">

                    <p><b><span lang=EN-US style='font-size:18.0pt;font-family:"Times","serif"'>Graphics</span></b></p>
                    <p><p lang=EN-US  > Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                </p>
                    <p><b><span lang=EN-US style='font-size:18.0pt;font-family:"Times","serif"'>Publishing Notes</span></b></p>

                    <p><span lang=EN-US  >The
Fraunhofer Institute for Open Communication Systems FOKUS<br>
Kaiserin-Augusta-Allee 31<br>
10589 Berlin<br>
Phone +49 30 3463-7000<br>
</span>

                        <a href="javascript:linkTo_UnCryptMailto('nbjmup;jogpAgplvt/gsbvoipgfs/ef');">info [at] fokus [dot] fraunhofer [dot] de</a>

                    </p>

                    <p><span lang=EN-US  >is
a constituent entity of the Fraunhofer Gesellschaft, and as such has no
separate legal status.</span></p>

                    <p><span  >Fraunhofer-Gesellschaft&nbsp;<br>
zur Förderung der angewandten Forschung e.V.<br>
Hansastraße 27 c<br>
80686 München<br>
www.fraunhofer.de</span></p>

                    <p><b><span lang=EN-US>VAT Identification Number in accordance with §27 a VAT Tax
Act: <br>
</span></b><span lang=EN-US  >DE
129515865</span></p>

                    <p><b><span lang=EN-US>Court of jurisdiction<br>
</span></b><span lang=EN-US  >Amtsgericht&nbsp;
München&nbsp;(district court)<br>
Registered nonprofit association&nbsp;<br>
Registration no. VR 4461</span></p>

                    <p><b><span lang=EN-US>Executive Board<br>
</span></b><span lang=EN-US  >Prof.
Dr.-Ing. Reimund Neugebauer, President, Corporate Policy and Research
Management<br>
Prof. (Univ. Stellenbosch) Dr. Alfred Gossner, Finance, Controlling (incl.
Business Administration, Purchasing and Real Estate) and Information Systems<br>
Prof. Dr. Alexander Kurz, Personnel and Legal Affairs and IP Management</span></p>

                    <p><span lang=EN-US  >©
Copyright by STREETLIFE consortium. All rights reserved.</span></p>

                    <p><b><span lang=EN-US>Disclaimer</span></b></p>

                    <p><span lang=EN-US  >We
cannot assume any liability for the content of external pages. Solely the
operators of those linked pages are responsible for their content.</span></p>

                    <p><span lang=EN-US  >We
make every reasonable effort to ensure that the content of this Web site is
kept up to date, and that it is accurate and complete. Nevertheless, the
possibility of errors cannot be entirely ruled out. We do not give any warranty
in respect of the timeliness, accuracy or completeness of material published on
this Web site, and disclaim all liability for (material or non-material) loss
or damage incurred by third parties arising from the use of content obtained
from the Web site.</span></p>

                    <p><span lang=EN-US  >Registered
trademarks and proprietary names, and copyrighted text and images, are not
generally indicated as such on our Web pages. But the absence of such
indications in no way implies that these names, images or text belong to the
public domain in the context of trademark or copyright law. </span></p>

                    <p><span lang=EN-US  >The
STREETLIFE project receives research funding from the European Union Seventh
Framework Programme (FP7/2007-2013) under grant agreement No. 608991. The
content of this website reflects solely the views of its authors. The European
Commission is not liable for any use that may be made of the information
contained therein.</span></p>

                </div>

            </div>


        </div>

    </div>
    <br>
    <br>
    <br>

</section>
